<div style="border: 3px inset #7f8c8d;">
<div class="modal-header">
    <button type="button" class="close" ng-click="cancelar()">&times;</button>
    <h3 class="modal-title" style="font-style: italic;">{{titulo}}</h3>
</div>
<div class="modal-body">
    <p>{{mensaje}}</p>
</div>
<div class="modal-footer">
    <button style="box-shadow: 2px 2px 1px #34495e;" type="button" class="btn btn-primary" ng-click="elegir(true)">Si</button>
    <button style="box-shadow: 2px 2px 1px #34495e;" type="button" class="btn btn-default" ng-click="elegir(false)">No</button>
</div>
</div>